// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Chat */
#messagesDiv {
  background-color: white;
  overflow: auto;
  height: 230px;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  text-align: left;
}